{% extends '@Telegram/Flux/base.html.twig' %}

{% block title %}{{ parent() }} - ABOUT{% endblock %}

{% block body %}
    <div class="fluxBlock">
        <section>
            <div>
                <nav>
                    <h1>ABOUT US</h1>
                </nav>
                <section><p class="about"><span class="d3">BU</span><span class="d2">R</span><span class="d1">B</span> explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory)....<span class="d2">B</span><span class="d3">U</span> is an emerging trans-local agency that clusters and weaves formal and informal realities, local and international institutions, cultural and social practitioners, visitors and inhabitants, in a common action for change... <span class="d1">BU</span><span class="d3">UURB</span><span class="d1">UUUR</span> is shaped by its own acts, <span class="d2">B</span><span class="d1">U</span> abdicates both project and communication as constricting ongoing exploratory actions.... <span class="d3">BUUUR</span><span class="d1">URU</span><span class="d2">BBB</span> blurs together its actions, its immediate and shared communication with the production of educational and transformative feedback....<span class="d2">UB</span><span class="d1">BU</span><span class="d2">URU</span><span class="d3">RUBBB</span> serves as common ground between artistic action, transdisciplinary education and urban transformation...<span class="d3">BURRR</span><span class="d2">BRB</span><span class="d1">R</span> experiments actions, practices, strategies and tools to steps outside the "Contemporary" dimensions of Art, Architecture and City....</p>
                    <h1 style="text-align:center;margin:30px;font-weight:500">
                        <a style="font-weight:500" >info|AT|biennaleurbana.com</a>
                    </h1>
                    {% include 'TelegramBundle:Flux:copyright.html.twig' %}
                </section>
                <footer>
                    <h1>ABOUT US</h1>
                </footer>
            </div>
        </section>
        <section>
            <div>
                <nav>
                    <h1>CHI SIAMO</h1>
                </nav>
                <section>
                    <p class="about"><span class="d1">BRR</span><span class="d2">UU</span><span class="d3">U</span> esplora i limiti e abita le distanze tra la Biennale (le Arti), Venezia (la Città) e la Laguna (il Territorio).....<span class="d3">UUU</span><span class="d1">RB</span> è una istituzione trans-locale emergente (Agency) che raccoglie e tesse relazioni tra
                    realtà formali e informali, istituzioni locali e internazionali, pratiche culturali e sociali, “foresti” ed abitanti, in una azione comune per il cambiamento....<span class="d2">BUUU</span><span class="d1">RBR</span> configurandosi nell’agire, rinuncia al progetto e alla comunicazione in quanto strumenti di costrizione dell’azione esplorativa intrapresa.....<span class="d1">BUUUU</span><span class="d2">UUU</span><span class="d3">RR</span><span class="d1">BRBRB</span> con-fonde in un unico processo la propria azione, la sua immediata e condivisa comunicazione e gli aspetti formativi e trasformativi che esse producono.....<span class="d2">BUU</span><span class="d1">URUU</span><span class="d3">RURB</span> si pone come terreno comune fra azione artistica, formazione transdisciplinare e trasformazione urbana......<span class="d2">BU</span><span class="d1">RU</span><span class="d2">RU</span><span class="d3">RU</span> sperimenta azioni, pratiche, strategie e strumenti per fuoriuscire dalla dimensione “Contemporanea” dell’arte, dell’architettura e della città....</p>
                    <h1 style="text-align:center;margin:30px;font-weight:500">
                        <a style="font-weight:500" >info|AT|biennaleurbana.com</a>
                    </h1>
                    {% include 'TelegramBundle:Flux:copyright.html.twig' %}
                </section>
                <footer>
                    <h1 >CHI SIAMO</h1>
                </footer>
            </div>
        </section>
    </div>
{% endblock %}

