<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>BURB</title>
        <meta name="description" content="Biennale Urbana is an emerging trans-local agency that explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory). Biennale Urbana serves as common ground between artistic action, transdisciplinary education and urban transformation.
">
        <meta name="keywords" content="outofcontemporary, biennaleurbana, arte, urbantransformation, venice, territory, action, walking, lagoon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            @font-face {
                font-family: Druk;
                src: url(Druk/Druk-Medium.otf);
            }
            *{font-family: Druk;}
        </style>
        <meta name="google-site-verification" content="">
    </head>
    <body>
        <div style="position:absolute;height:100%;width:100%;left:0;top:0">
            <h1 style="font-size:200px;color:#004FFF;text-align:center;position:absolute;top:50%;margin:0;margin-top:-155px;text-align:center;width:100%">BURB</h1>
            <h6 style="font-size:20px;color:#FFB600;text-align:center;text-align:center;position:absolute;top:50%;margin:0;margin-top:70px;text-align:center;width:100%">BIENNALE URBANA</h6>
        </div>
        <div>
            <div id="en-text" style="position:absolute;width:50%;left:0;top:0;height:100%;background:White;border:3px Solid #FFB600 ;box-sizing:border-box;overflow:scroll;display:none;">
                <p style="font-size:38px;padding:50px 40px;color:#FFB600">BURB explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory)....BU is an emerging trans-local agency that clusters and weaves formal and informal realities, local and international institutions, cultural and social practitioners, visitors and inhabitants, in a common action for change... BUUURBUUUR is shaped by its own acts,  BU abdicates both project and communication as constricting ongoing exploratory actions.... BUUURURUBBB blurs together its actions, its immediate and shared communication with the production of educational and transformative feedback....UBBUURURUBBB serves as common ground between artistic action, transdisciplinary education and urban transformation...BURRRBRBR experiments actions, practices, strategies and tools to steps outside the "Contemporary" dimensions of Art, Architecture and City....</p>
            </div>
            <h6 id="en" style="position:fixed;top:20px;left:25%;border:3px Solid #FFB600;padding:10px 15px;font-size:20px;margin:0;margin-left:-66px;background:block;color:#FFB600;background:White">ENGLIGH</h6>
            <div id="it-text" style="position:absolute;width:50%;right:0;top:0;height:100%;background:White;border:3px Solid #004FFF ;box-sizing:border-box;display:none;overflow:scroll">
                <p  style="font-size:36px;padding:50px 40px;color:#004FFF">BRRUUU esplora i limiti e abita le distanze tra la Biennale (le Arti), Venezia (la Città) e la Laguna (il Territorio).....UUURB è una istituzione trans-locale emergente (Agency) che raccoglie e tesse relazioni tra
realtà formali e informali, istituzioni locali e internazionali, pratiche culturali e sociali, “faresti” ed abitanti, in una azione comune per il cambiamento....BUUURBR configurandosi nell’agire, rinuncia al progetto e alla comunicazione in quanto strumenti di costrizione dell’azione esplorativa intrapresa.....BUUUUUUURRBRBRB con-fonde in un unico processo la propria azione, la sua immediata e condivisa comunicazione e gli aspetti formativi e trasformativi che esse producono.....BUUURUURURB si pone come terreno comune fra azione artistica, formazione transdisciplinare e trasformazione urbana......BURURURU sperimenta azioni, pratiche, strategie e strumenti per fuoriuscire dalla dimensione “Contemporanea” dell’arte, dell’architettura e della città....</p>
            </div>
            <h6 id="it" style="position:fixed;bottom:20px;right:25%;border:3px Solid #004FFF;padding:10px 15px;font-size:20px;margin:0;margin-right:-66px;background:White;color:#004FFF;">ITALIANO</h6>
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script>
            $('#en').click(function(){
                $('#en-text').show();
            })
            $('#it').click(function(){
                $('#it-text').show();
            })
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script-->
    </body>
</html>