<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>BURB</title>
        <meta name="description" content="Biennale Urbana is an emerging trans-local agency that explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory). Biennale Urbana serves as common ground between artistic action, transdisciplinary education and urban transformation.
">
        <meta name="keywords" content="outofcontemporary, biennaleurbana, arte, urbantransformation, venice, territory, action, walking, lagoon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            @font-face {
                font-family: Drukm;
                src: url(Druk/Druk-Super.otf);
            }
            @font-face {
                font-family: Drukc;
                src: url(Druk/DrukXCond-Super.otf);
            }
            @font-face {
                font-family: Drukw;
                src: url(Druk/DrukWide-Bold.otf);
            }
            @font-face {
                font-family: Replica;
                src: url(Replica/Replica-Light.otf);
            }
            *{font-family: Replica;color:#FFB600;}
            .d1{
                font-family: Drukc;
            }
            .d2{
                font-family: Drukm;
            }
            .d3{
                font-family: Drukw;
            }
        </style>
        <meta name="google-site-verification" content="">
    </head>
    <body>
        <div>
            <div id="en-text" style="position:absolute;width:50%;left:0;top:0;height:100%;background:White;border:0px Solid #FFB600 ;box-sizing:border-box;overflow:scroll;display:none;">
                <p style="font-size:30px;padding:50px 40px;color:#FFB600"><span class="d3">BU</span><span class="d2">R</span><span class="d1">B</span> explores the limits and inhabits the existing distances in-between Biennale (Arts), Venice (City) and the Lagoon (Territory)....<span class="d2">B</span><span class="d3">U</span> is an emerging trans-local agency that clusters and weaves formal and informal realities, local and international institutions, cultural and social practitioners, visitors and inhabitants, in a common action for change... <span class="d1">BU</span><span class="d3">UURB</span><span class="d1">UUUR</span> is shaped by its own acts, <span class="d2">B</span><span class="d1">U</span> abdicates both project and communication as constricting ongoing exploratory actions.... <span class="d3">BUUUR</span><span class="d1">URU</span><span class="d2">BBB</span> blurs together its actions, its immediate and shared communication with the production of educational and transformative feedback....<span class="d2">UB</span><span class="d1">BU</span><span class="d2">URU</span><span class="d3">RUBBB</span> serves as common ground between artistic action, transdisciplinary education and urban transformation...<span class="d3">BURRR</span><span class="d2">BRB</span><span class="d1">R</span> experiments actions, practices, strategies and tools to steps outside the "Contemporary" dimensions of Art, Architecture and City....</p>
            </div>
            <h6 id="en" style="position:fixed;top:-3px;left:25%;border:3px Solid #FFB600;padding:10px 15px;font-size:20px;margin:0;margin-left:-66px;background:block;color:#FFB600;background:White;cursor:pointer">ENGLIGH</h6>
            <div id="it-text" style="position:absolute;width:50%;right:0;top:0;height:100%;background:White;border:0px Solid #0096A8 ;background:#0096A8;box-sizing:border-box;display:none;overflow:scroll">
                <p  style="font-size:30px;padding:50px 40px;color:#FFB600"><span class="d1">BRR</span><span class="d2">UU</span><span class="d3">U</span> esplora i limiti e abita le distanze tra la Biennale (le Arti), Venezia (la Città) e la Laguna (il Territorio).....<span class="d3">UUU</span><span class="d1">RB</span> è una istituzione trans-locale emergente (Agency) che raccoglie e tesse relazioni tra
                    realtà formali e informali, istituzioni locali e internazionali, pratiche culturali e sociali, “faresti” ed abitanti, in una azione comune per il cambiamento....<span class="d2">BUUU</span><span class="d1">RBR</span> configurandosi nell’agire, rinuncia al progetto e alla comunicazione in quanto strumenti di costrizione dell’azione esplorativa intrapresa.....<span class="d1">BUUUU</span><span class="d2">UUU</span><span class="d3">RR</span><span class="d1">BRBRB</span> con-fonde in un unico processo la propria azione, la sua immediata e condivisa comunicazione e gli aspetti formativi e trasformativi che esse producono.....<span class="d2">BUU</span><span class="d1">URUU</span><span class="d3">RURB</span> si pone come terreno comune fra azione artistica, formazione transdisciplinare e trasformazione urbana......<span class="d2">BU</span><span class="d1">RU</span><span class="d2">RU</span><span class="d3">RU</span> sperimenta azioni, pratiche, strategie e strumenti per fuoriuscire dalla dimensione “Contemporanea” dell’arte, dell’architettura e della città....</p>
            </div>
            <h6 id="it" style="position:fixed;bottom:-3px;right:25%;border:3px Solid #0096A8;padding:10px 15px;font-size:20px;margin:0;margin-right:-66px;background:White;color:#0096A8;cursor:pointer">ITALIANO</h6>
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script>
            $('#en').click(function(){
                $('#en-text').show();
            })
            $('#it').click(function(){
                $('#it-text').show();
            })
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script-->
    </body>
</html>